// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-container {
    padding: 0 5%;
}

.search-container {
    padding: 0 5%;
}

.message-container {
    padding: 0 5%;
}

.search-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}


