<div class="row g-2 search-container">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="location-field" value="Where are you going?">
            <label for="location-field"><strong>Location</strong></label>
        </div>
    </div>
    <% if type == "beds"%>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="check-in-field" value="Add dates">
            <label for="check-in-field"><strong>Check in</strong></label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="check-out-field" value="Add dates">
            <label for="check-out-field"><strong>Check out</strong></label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="guests-field" value="Add dates">
            <label for="Add bears"><strong>Guests</strong></label>
        </div>
    </div>
    <div class="col-md">
    <div class="form-floating">
<button type="button" class="btn btn-lg btn-primary">Primary</button>
    </div>
    </div>
    <% end %>
</div>