<div class="row g-2 search-container">
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="location-field" value="Where are you going?">
            <label id="location-label" for="location-field"><strong>Location</strong></label>
        </div>
    </div>
    <% if type == "beds"%>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="check-in-field" value="Add dates">
            <label for="check-in-field"><strong>Check in</strong></label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="check-out-field" value="Add dates">
            <label for="check-out-field"><strong>Check out</strong></label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="guests-field" value="How many guests?">
            <label for="Add bears"><strong>Guests</strong></label>
        </div>
    </div>

    <% elsif type == "stripes" %>
    <div class="col-md">
        <div class="form-floating">
            <select class="form-select" id="merchandise-field">
                <option disabled selected>Select Merchandise</option>
                <option value="1">Clothing</option>
                <option value="2">Activewear</option>
                <option value="3">Shoes</option>
                <option value="4">Bags</option>
                <option value="5">Accessories</option>
                <option value="6">Underwear & Socks</option>
                <option value="7">Watches</option>
                <option value="8">Jewellery</option>
                <option value="9">Lifestyle</option>
                <option value="10">Pre-owned</option>
                <option value="11">Gifts</option>
            </select>
            <label for="floatingSelect"><strong>Merchandise</strong></label>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <select class="form-select" id="category-field">
                <option disabled selected>Select Category</option>
                <option value="1">Women</option>
                <option value="2">Men</option>
                <option value="3">Kids</option>
            </select>
            <label for="floatingSelect"><strong>Merchandise</strong></label>
        </div>
    </div>
    <% end %>
    <div class="col-md">
        <div class="form-floating search-container">
            <button type="button" class="btn btn-lg btn-outline-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> Search</button>
        </div>
    </div>
</div>